.dnd5e.sheet .sheet-header .link {
    align-items: center;
}

.tidy5e.sheet .sheet-header .link * {
    max-height: 20px;
}

.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group input:checked:disabled, .tidy5e.sheet.item .sheet-body .tab.details .form-group input:checked:disabled, .tidy5e.sheet.item .sheet-body .tab.advancement .form-group input:checked:disabled, .tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group input:checked:disabled, .tidy5e.sheet.item .sheet-body .tab.magic-items .form-group input:checked:disabled {
    background: var(--t5e-secondary-color);
    color: var(--t5e-secondary-color);
}

.link-derivations {
    position: relative;
    flex: 0;
    line-height: normal;
    padding: 4px;
    height: fit-content;
    flex-basis: fit-content;
    text-align: center;
    align-self: center;
    color: var(--color-shadow-dark);
    border: 1px dashed var(--color-border-light-tertiary);
    background: var(--color-bg-option);
}

/*.dnd5e.sheet .sheet-header .summary a.item-link {
    height: calc(100% - 6px);
    float: left;
    margin: 2px 0;
    padding: 0;
    border-right: 2px groove #eeede0;
    line-height: 34px;
    color: #4b4a44;
}*/