.dnd5e.sheet .sheet-header .link {
	align-items: center;
}

.tidy5e.sheet .sheet-header .link * {
	max-height: 20px;
}

.tidy5e.sheet.item .sheet-body .tab.item-betterRolls .form-group input:checked:disabled,
.tidy5e.sheet.item .sheet-body .tab.details .form-group input:checked:disabled,
.tidy5e.sheet.item .sheet-body .tab.advancement .form-group input:checked:disabled,
.tidy5e.sheet.item .sheet-body .tab.dynamiceffects .form-group input:checked:disabled,
.tidy5e.sheet.item .sheet-body .tab.magic-items .form-group input:checked:disabled {
	background: var(--t5e-secondary-color);
	color: var(--t5e-secondary-color);
}

.link-derivations {
	position: relative;
	flex: 0;
	line-height: normal;
	margin-right: 8px;
	height: fit-content;
	flex-basis: fit-content;
	text-align: center;
	align-self: center;
	color: red;
	padding: 4px;
	background: black;
	font-size: 1.2em;
	border-radius: 10px;
	filter: drop-shadow(2px 4px 6px black);
}

.item-linking-dialog select[multiple] option:checked {
	background-color: var(--color-border-dark-tertiary); /* Change to your preferred color */
	color: var(--color-text-light-0); /* Change text color if needed */
}
.item-linking-dialog select[multiple] {
	height: 200px;
}
.item-linking-dialog .btn-update {
	cursor: pointer;
	color: #007bff; /* Bootstrap primary color */
	margin-left: 5px;
	margin-right: 5px;
}
.item-linking-dialog .btn-disabled {
	opacity: 0.2;
	pointer-events: none;
}
.item-linking-dialog .dot {
	height: 10px;
	width: 10px;
	background-color: #dc3545;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}
.item-linking-dialog .dot.green {
	background-color: #28a745;
}
.item-linking-dialog [data-action] {
	cursor: pointer;
}
.item-linking-dialog [data-action='render']:hover {
	text-decoration: underline;
}
.item-linking-dialog .dialog .dialog-buttons {
	flex: 0;
}
.relink-inventory {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.relink-inventory table {
	text-align: center;
	table-layout: fixed;
}
.relink-inventory select {
	width: 100%;
}

/*.dnd5e.sheet .sheet-header .summary a.item-link {
    height: calc(100% - 6px);
    float: left;
    margin: 2px 0;
    padding: 0;
    border-right: 2px groove #eeede0;
    line-height: 34px;
    color: #4b4a44;
}*/
